<h1>Mario's Specialty Food Products</h1>

<h2>We are happy to see you in our website!</h2>
<h3>We have food from all over the World.</h3>
<br>
<p>If you would like to see all our products <%= link_to "click here", products_path %></p>